html {
  scroll-behavior: smooth;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  background-color: $off-white;
  min-height: 100vh;
  width:100%;
  // display: grid;
  // grid-template-rows: 1fr auto;
  // grid-template-columns: 100%;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  margin: 0px auto;
  width:100%;
}

h1,
h2,
h3,
h4 {
  color: $black;
  font-family: $titles;
}

h1 {

}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  color: $neon-pink;
  font-family: $texts;
  font-size: 18px;
  // animation: pulse 1s;
}

svg {
  color: $black;
  font-family: $texts;
}


li,
a {
  padding: 10px;
}

a {
  color: $black;
  font-family: $texts;
  text-decoration: none;
}

a:hover {
  color: $neon-pink;
}

button {
  padding: 6px 22px;
  color: $black;
  border: 1px solid $neon-pink;
  border-radius: 4px;
  background-color: transparent;
}

button:hover {
  background-color: rgba(247,31,102, 0.35);
  color: $black;
  cursor: pointer;
}


/* Fade down */
.fadedown-enter {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}
.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}

.down-effect:hover {
  transition: all 300ms ease-out;
}

.down-effect:hover {
  transform: translateY(10px);
}
