body {
  background-color: $dark-blue;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

h1,
h2,
h3,
h4 {
  color: $light-blue;
}

p,
svg {
  color: $turquoise;
}

ol,
ul,
li,
a {
  padding: 10px;
}
