html {
  scroll-behavior: smooth;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  background-color: var(--off-white);
  min-height: 100vh;
  width:100%;
  margin: 0;
  // display: grid;
  // grid-template-rows: 1fr auto;
  // grid-template-columns: 100%;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  margin: 0px auto;
  width:100%;
}

h1,
h2,
h3,
h4 {
  color: var(--black);
  font-family: var(--titles);
}

h1 {

}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  color: var(--neon-pink);
  font-family: var(--texts);
  font-size: 18px;
}

svg {
  color: var(--black);
  font-family: var(--texts);
}

ul {
  list-style: none;
}


li,
a {
  padding: 10px;
}

a {
  color: var(--black);
  font-family: var(--texts);
  text-decoration: none;
}

a:hover {
  color: var(--neon-pink);
}

button {
  padding: 6px 22px;
  color: var(--black);
  border: 1px solid var(--neon-pink);
  border-radius: 4px;
  background-color: transparent;
  animation: pulse 1s;
  transition: all 200ms ease-in-out;
  font-family: var(--texts);
  background-color: transparent;
}

button:hover {
  background-color: rgba(247,31,102, 0.35);
  color: var(--black);
  cursor: pointer;
  transform: scale(1.06);
}

@media(max-width: 764px) {
  button {
    background-color: rgba(247,31,102, 0.35);
  }
}


/* Fade down */
.fadedown-enter {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 800ms var(--easing), transform 300ms var(--easing);
}
.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 800ms var(--easing), transform 300ms var(--easing);
}

.fadedown-exit {
  opacity: 1;
}
.fadedown-exit-active {
  opacity: 0;
  transition: opacity 800ms var(--easing);
}

/* Fade */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}

.down-effect:hover {
  transition: all 300ms ease-out;
}

.down-effect:hover {
  transform: translateY(10px);
}
