// Colors
// $dark-blue: #0A182F;
$dark-blue: #0B182F;
$strong-blue: #112240;
$light-blue: #CDD6F6;
$off-white: #f1f1f1;
// $turquoise: #64FFDB;
$turquoise: #5CE8E4;

// Fonts
$titles: 'Montserrat', sans-serif;
$texts: 'Titillium Web', sans-serif;
