
:root {
// Colors

--pure-white: #FFFF;
--off-white: #FAFFFD;

--black: #0C1330;
// --neon-pink: #FF5758;
--neon-pink: #F94A56;
--light-pink: #ffa59a;

--dark-blue: #2D4759;
--light-blue: #dde5eb;


// Fonts
--texts: 'Titillium Web', sans-serif;
--title: 'Righteous', sans-serif;

}
