.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 200px;
}

.down-effect:hover {
  animation: down-effect 1s ease-out forwards;
}

/* .down-effect:hover {
  transform: translateY(10px);
} */

@keyframes down-effect {
  0% {
    transform: translateY(12px);
  }
  80% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(12px);
  }
}
