.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 100px 0 100px;
}

.down-effect:hover {
  transition: all 300ms ease-out;
}

.down-effect:hover {
  transform: translateY(10px);
}

.projects {
  padding-top: 100px;
}
