.header {
  display: flex;
  /* -webkit-box-pack: justify; */
  /* justify-content: space-between; */
  /* -webkit-box-align: center; */
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 4px 50px;
  width: 100%;
  background-color: rgba(251, 247, 242, 0.45);
  box-shadow: 0 0 15px rgba(0,0,0,0.06);
  backdrop-filter: blur(10px);
}

ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: flex-end;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
