@import '../_settings/variables';

.btn-main {
  padding: 6px 22px;
  color: $light-blue;
  border: 1px solid $turquoise;
  border-radius: 4px;
  background-color: transparent;
}

.btn-main:hover {
  background-color: $turquoise;
  color: $dark-blue;
  border: none;
}
